body{
    margin:0;
}
.demo{
    background-color: darkgray;
    height: 70px;
}
.main-info{
    height:70px;
    width: 100%;
    float: left;
    margin-bottom: 1px;
}
.h1-word{
    color:white;
    margin: auto 40px;
    line-height: 70px;
}
.h2-block{
    background-color: #EEE0E5;
    float:left;
    width: 20%;
    height: 70px;
    text-align: center;
    margin:auto;
    line-height: 70px;

}
.ul-list{
    list-style-type: none;
    float: left;
    margin: auto;
    line-height: 70px;
}
li{
    float: left;
    margin-left: 20px;
}
.strong-block{
    float: left;
    margin: auto 0 auto 63px;
    width: 10%;
}
.p-block{
    float: left;
    width:55%;
    margin: auto;

}